<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="tiiehenry.script.engine.rhino">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        tools:targetApi="n">
        <meta-data
            android:name="android.max_aspect"
            android:value="4" />

        <activity
            android:name="tiiehenry.script.rhino.android.RhinoActivity"
            android:configChanges='orientation|screenSize|keyboardHidden'
            android:label="RhinoActivity"
            tools:targetApi="lollipop">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="rhino" />
                <data android:host="tiiehenry.script.rhino" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.EDIT" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="file" />
                <!--info  android:mimeType = "*/*"  /-->
                <data android:host="*" />
                <data android:pathPattern=".*\\.js" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.EDIT" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="content" />
                <data android:host="*" />
                <data android:pathPattern=".*\\.js" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="file" />
                <data android:mimeType="text/*" />
                <data android:host="*" />
                <data android:pathPattern=".*\\.js" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="content" />
                <data android:mimeType="text/*" />
                <data android:host="*" />
                <data android:pathPattern=".*\\.js" />
            </intent-filter>
        </activity>
        <activity
            android:name="tiiehenry.script.rhino.android.RhinoActivityX"
            android:configChanges='orientation|screenSize|keyboardHidden'
            android:label="RhinoActivity"
            tools:targetApi="lollipop">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="rhino" />
                <data android:host="tiiehenry.script.rhino" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.EDIT" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="file" />
                <!--info  android:mimeType = "*/*"  /-->
                <data android:host="*" />
                <data android:pathPattern=".*\\.js" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.EDIT" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="content" />
                <data android:host="*" />
                <data android:pathPattern=".*\\.js" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="file" />
                <data android:mimeType="text/*" />
                <data android:host="*" />
                <data android:pathPattern=".*\\.js" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="content" />
                <data android:mimeType="text/*" />
                <data android:host="*" />
                <data android:pathPattern=".*\\.js" />
            </intent-filter>
        </activity>

        <!--        <service
                    android:name="com.androlua.LuaService"
                    android:enabled="true"/>-->

    </application>
</manifest>